<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qgstudio.aniwork"
    android:versionCode="1">

    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 监听网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 向SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.qgstudio.aniwork.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AnyWork.Theme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name="com.qgstudio.aniwork.enter.EnterActivity" />
        <activity
            android:name="com.qgstudio.aniwork.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.qgstudio.aniwork.grade.GradeActivity" />
        <activity android:name="com.qgstudio.aniwork.main.HomeActivity" />
        <activity android:name="com.qgstudio.aniwork.exam.ExamActivity" />
        <activity android:name="com.qgstudio.aniwork.paper.PaperActivity" />
        <activity android:name="com.qgstudio.aniwork.user.UserActivity" />
        <activity android:name="com.qgstudio.aniwork.main.SearchingActivity" />
        <activity android:name="com.qgstudio.aniwork.feedback.FeedbackActivity" />
        <activity android:name="com.qgstudio.aniwork.main.NewOrganizationActivity" />
        <activity android:name="com.qgstudio.aniwork.user.ChangePasswordActivity" />
        <activity android:name="com.qgstudio.aniwork.user.ChangeInfoActivity" />

        <receiver android:name="com.qgstudio.aniwork.common.NetworkStatusReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.qgstudio.aniwork.notice.NoticeActivity" />

        <service
            android:name="com.qgstudio.aniwork.user.AppService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name="com.qgstudio.aniwork.workout.WorkoutContainerActivity" />
        <activity android:name="com.qgstudio.aniwork.search.SearchActivity" />
        <activity android:name="com.qgstudio.aniwork.collection.CollectionActivity" />
    </application>

</manifest>